OPENAI_API_KEY=xxxxxxxxxxxxxxxxxx
GOOGLE_API_KEY=xxxxxxxxxxxxxxxxxxxxx
LANGSMITH_API_KEY=xxxxxxxxxxxxxxxxxxxxx
LANGSMITH_PROJECT=Documentation Helper
LANGSMITH_TRACING=true
INDEX_NAME=xxxxxxxxxxxxxxxxxxx
PINECONE_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxx
TAVILY_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxx